[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "KMEANS.KNN"]
	path = KMEANS.KNN
	url = https://github.com/lallogo45/kmeans.knn
